<div class="pageoverflow">
<h3>{$title}</h3>
</div>
{$formstart}
<div class="pageoverflow">
  <p class="pagetext">{$prompt_templatename}:</p>
  <p class="pageinput">{$templatename}</p>
</div>

<div class="pageoverflow">
  <p class="pagetext">{$prompt_version}:</p>
  <p class="pageinput">{$version}</p>
</div>

<div class="pageoverflow">
  <p class="pagetext">{$prompt_about}:</p>
  <div class="pageinput">{$about}</div>
</div>

<div class="pageoverflow">
  <p class="pagetext">&nbsp;</p>
  <p class="pageinput">{$submit}{$cancel}</p>
</div>
{$formend}
